<div class="container mt-5">
  <div class="fancy-navbar mr-4">
    <%= render partial: 'layouts/search-three-part'%><br>
  </div>
  <br>
  <div class="row">
    <div class="col">
        <div class="text-center m-4">
          <div class="row item-center">
            <% @talents.all.each do |talent|%>
              <%= render partial: 'layouts/talent-index-card', locals: {model: talent} %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>