<h1> Résultat de la recherche pour "<%= params[:search_keywords]%>" </h1>

<!-- USERS MESSAGES -->
<%= render 'layouts/messages' %>

<br>
<% if @found_talents.empty?%>
<h4> Aucun résultat trouvé. </h4>
<% end %>
<% @found_talents.each do |talent|%>
<div class="card-custom" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Image du talent">
  <div class="card-body">
    <h5 class="card-title"><%= talent.title%></h5>
    <p class="card-text"><%= talent.description%></p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>

 <% end %>