<h1> Résultat de la recherche pour "<%= params[:search_keywords]%>" </h1>
<br>
<% @found_talents.each do |talent|%>
<ul>
    <li> <%= talent.title%> </li>
    <li> <%= talent.description%> </li>
    <li> <%= talent.user_id%>
</ul>
 <% end %>