<!-- BACK LINK -->
<%= render 'layouts/back_link' %> 

<div class="container">
<h1>Notre équipe</h1>
<br>

<!-- about page cards -->
<div class = "row" style="justify-content:center">
  <div class="card card-custom shadow mb-3 text-center max-width-18" style="width:250px; margin-up:30px; margin-right:30px; margin-down:50px;">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Diane DECOURT</h5>
      <a href="#">Lien GitHub</a>
    </div>
  </div>

  <div class="card card-custom shadow mb-3 text-center max-width-18" style="width:250px; margin-right:30px; margin-down:50px;">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Mehdi Lucas AMMAR</h5>
      <a href="#">Lien GitHub</a>
    </div>
  </div>

  <div class="card card-custom shadow mb-3 text-center max-width-18" style="width:250px; margin-right:30px; margin-down:50px;">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Patrice HUSZEZO</h6>
      <a href="#">Lien GitHub</a>
    </div>
  </div>

  <div class="card card-custom shadow mb-3 text-center max-width-18" style="width:250px; margin-right:30px; margin-down:50px;">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Rémi BARNAT</h6>
      <a href="#">Lien GitHub</a>
    </div>
  </div>

   <div class="card card-custom shadow mb-3 text-center max-width-18"style="width:250px; margin-right:30px; margin-down:50px;">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title">Yohan FLEURY</h6>
      <a href="#">Lien GitHub</a>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>

<!-- footer with site map -->
<footer class="pb-4 bg-primary-3" id="about-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-6 col-lg-3 col-xl-3">
        <h5>À propos de nous</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/about">Èquipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contacte-nous</a>
          </li>
        </ul>
      </div> 
      <div class="col-6 col-lg-3 col-xl-3">
        <h5>Liens pratiques du site</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/home">Accueil</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 col-xl-6">
        <h5>Pourquoi utiliser TalentConnect ?</h5>
        <ul class="list-unstyled" style="margin-top:17px">
          <li class="mb-3 d-flex">
            <div class="ml-3">
              <span>
              Te former facilement sur des talents qui te tiennent à coeur
              </span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <div class="ml-3">
              <span>
              Rejoindre un réseau bienveillant
              </span>
            </div>
          </li>
          <li class="mb-3 d-flex">
            <div class="ml-3">
              <span>
              Partager et transmettre tes passions en devenant mentor
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
