<!-- BACK LINK -->
<%= render 'layouts/back_link' %> 

<div class="container">
  <div class="card card-custom2 shadow max-width-45 m-auto">
    <div class="card-body">
      <h3 class="text-center text-primary">N'hésite pas à nous contacter !</h3>
      <p class="m-4">Envoie nous tes coordonnées, et l'un des super équipiers de TalentConnect se fera un plaisir de te recontacter.
      </p>

      <!-- CONTACT FORM -->
      <form class="contact-form m-4">
        <div class="form-row">
          <div class="form-group col-md-6 pr-4">
              <label for="contactInputFirstName">     * Prénom</label>
              <input type="text" class="form-control" id="contactInputFirstName" placeholder="Entre ton prénom ici" maxlength="255">
          </div>
          <div class="form-group col-md-6">
              <label for="contactInputLastName">     * Nom</label>
              <input type="text" class="form-control" id="contactInputLastName" placeholder="Entre ton nom ici" maxlength="255">
          </div>
        </div>

        <div class="form-group">
          <label for="contactInputEmail" >     * Adresse E-mail</label>
          <input type="email" class="form-control" id="contactInputEmail" placeholder="Entre ton adresse email ici" maxlength="255">
        </div>
        <div class="form-group">
          <label for="contactInputPhone">     * Téléphone</label>
          <input type="text" class="form-control" id="contactInputPhone" placeholder="Entre ton téléphone ici" maxlength="255">
        </div>
        <div class="form-group">
          <label for="contactInputText">Que pouvons-nous faire pour toi ?</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="1000" placeholder="Entre le descriptif de ta demande ici"></textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
        <br>
      </form>

      <!-- ALTERNATIVE CONTACT VIA EMAIL -->
      <hr>
      <div class="contact-direct-email" display="flex" flex-flow="row wrap">
        <p class="m-4">Ou si tu préfères la méthode classique d'envoi d'un e-mail, clique sur le lien ci-après pour nous contacter : 
        <%= mail_to('contact.talentconnect100@gmail.com', name = nil, html_options = {subject: 'Prise de contact TalentConnect'}) %>
        </p>
      </div>
    </div>
  </div>
</div>
