<h1 class="card-title text-center"><i class="fas fa-user-circle"></i></h1>
<h2 class="card-title text-center">Mon profil</h2>
<hr class="mb-4">

<!-- MANAGE PROFIL LINK -->
<h4 class="card-title mt-3 text-center">Gérer mon profil</h4>
<hr>
<div class="actions">
  <%= button_to 'Modifier/suprimer mon profil', edit_user_registration_path(), method: :get, class: "btn btn-primary btn-block" %>
</div>

<!-- CONFIRMED APPOINTMENTS -->
<% if @paid_appointments %>
  <% @paid_appointments.each do |paid_appointment| %>
  <%= render partial: 'layouts/card-talent', locals: {model: paid_appointment.talent, type: "mentor-validate"} %>
  <% end %>
<% else %>
  Tu n'as pas de séance validée
<% end %>