<script defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI3Q_EMl4fqy5IsGdqAFzhlWJb9QOcAYI&libraries=places&callback=initAutocomplete">
</script>
<div class="container mt-4">
  <div class=" card card-custom2 shadow max-width-45 p-4 m-auto">
    <div class="p-2">
      <h4 class="text-primary text-center"> <%=@talent.title%></h4><br>
      <h5 class=""><strong><u>MODE ADMIN :</u></strong></h5>
      <p>Ici toi ô Grand Admin tu peux éditer n'importe quel talent ! </p>
    </div>
    <%= render partial: 'talents/edit_talent_form_box', locals: {model: @talent} %>
  </div>
</div>

<!-- AUTO COMPLETE -->

<script>
    var searchInput ='place_address';
    function initAutocomplete() {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete(document.getElementById(searchInput),
        {
          componentRestrictions: {'country' : ['FR']}
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function (){
            var new_place = autocomplete.getPlace();
          document.getElementById('place_address').value = new_place.address_components[0].long_name + " " + new_place.address_components[1].long_name
          document.getElementById('place_city_name').value = new_place.address_components[2].long_name
          document.getElementById('place_zip_code').value = new_place.address_components[6].long_name
          document.getElementById('place_latitude').value = new_place.geometry.location.lat();
          document.getElementById('place_longitude').value = new_place.geometry.location.lng();
        });
    };
</script>