:root {
  --blue: #15D6A2;
  --red: #FF6666;
  --green: #91c65c;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --primary: #15D6A2;
  --success: #91c65c;
  --danger: #FF6666;
}

.btn-heart {
  color: #ec8391;
}

.btn-heart:hover {
  color: #ec8391;
  transform: scale(1.15);
}

/*LINKS*/

a {
  color: #15D6A2;
}

.link-red {
  color: #FF6666;
}

.link-white {
  color: #FFFFFF;
}

.link-white:hover {
  color: #FFFFFF;
}

.link-red:hover {
  color: #c82333;
}

a:hover {
  color: #17b087;
  text-decoration: underline;
}

/*TABLE*/

.table-borderless {
  border-width: 0px;
}

.table-primary,
.table-primary>th,
.table-primary>td {
  background-color: #9fffbd;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
  border-color: #9fffbd;
}

.table-hover .table-primary:hover {
  background-color: #9fffbd;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
  background-color: #9fffbd;
}


.table-success,
.table-success>th,
.table-success>td {
  background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody+tbody {
  border-color: #8fd19e;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
  background-color: #b1dfbb;
}


/*FORMS*/
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #15D6A2;
  border-radius: 25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #15D6A2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(54, 206, 168, 0.25);
}

.transparent-input:focus {
  border-color: 0px;
  border-radius: 25rem;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.transparent-input {
  width: 100%;
  border-radius: 25rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid;
  border-radius: 25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select {
  border-color: #15D6A2;
  border-radius: 25rem;
}

.custom-select:focus {
  border-color: #15D6A2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(54, 206, 168, 0.25);
}

.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}


.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 25rem;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 25rem;
  border-width: 2px;
}

.valid-feedback {
  color: #91c65c;
}

.valid-tooltip {
  background-color: rgba(40, 167, 69, 0.9);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: #91c65c;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: #91c65c;
}

.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: #91c65c;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #91c65c;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-check-input:valid~.form-check-label,
.form-check-input.is-valid~.form-check-label {
  color: #91c65c;
}

.was-validated .custom-control-input:valid~.custom-control-label,
.custom-control-input.is-valid~.custom-control-label {
  color: #91c65c;
}

.was-validated .custom-control-input:valid~.custom-control-label::before,
.custom-control-input.is-valid~.custom-control-label::before {
  border-color: #91c65c;
}

.was-validated .custom-control-input:valid:checked~.custom-control-label::before,
.custom-control-input.is-valid:checked~.custom-control-label::before {
  border-color: #34ce57;
  background-color: #34ce57;
}

.was-validated .custom-control-input:valid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)~.custom-control-label::before {
  border-color: #91c65c;
}

.was-validated .custom-file-input:valid~.custom-file-label,
.custom-file-input.is-valid~.custom-file-label {
  border-color: #91c65c;
}

.was-validated .custom-file-input:valid:focus~.custom-file-label,
.custom-file-input.is-valid:focus~.custom-file-label {
  border-color: #91c65c;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #FF6666;
}

.invalid-tooltip {
  background-color: rgba(220, 53, 69, 0.9);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #FF6666;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%2#FF6666' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%2#FF6666' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #FF6666;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #FF6666;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%2#FF6666' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%2#FF6666' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  border-color: #FF6666;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
  color: #FF6666;
}

.was-validated .custom-control-input:invalid~.custom-control-label,
.custom-control-input.is-invalid~.custom-control-label {
  color: #FF6666;
}

.was-validated .custom-control-input:invalid~.custom-control-label::before,
.custom-control-input.is-invalid~.custom-control-label::before {
  border-color: #FF6666;
}

.was-validated .custom-control-input:invalid:checked~.custom-control-label::before,
.custom-control-input.is-invalid:checked~.custom-control-label::before {
  border-color: #e4606d;
  background-color: #e4606d;
}

.was-validated .custom-control-input:invalid:focus~.custom-control-label::before,
.custom-control-input.is-invalid:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked)~.custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)~.custom-control-label::before {
  border-color: #FF6666;
}

.was-validated .custom-file-input:invalid~.custom-file-label,
.custom-file-input.is-invalid~.custom-file-label {
  border-color: #FF6666;
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label,
.custom-file-input.is-invalid:focus~.custom-file-label {
  border-color: #FF6666;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/*BUTTONS*/

button.stripe-button-el,
button.stripe-button-el>span {
  color: #FFF !important;
  background-color: #FF6666 !important;
  border-color: #FF6666 !important;
  border-radius: 1.8rem;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
}

button.stripe-button-el:hover,
button.stripe-button-el:hover>span {
  color: #ff6666 !important;
  background-color: #FFf !important;
  border-color: #FF6666 !important;
  border-radius: 1.8rem;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-style: solid;
}


button.stripe-button-el:focus,
button.stripe-button-el:focus>span {
  color: #fff !important;
  background-color: #FF6666 !important;
  border-color: #FF6666 !important;
  border-radius: 1.8rem;
  box-shadow: 0 0 0 0.2rem rgba(54, 206, 168, 0.25) !important;
  background-image: none;
}

.btn {
  border-radius: 1.8rem;
}

.btn-primary {
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}

.btn-primary:hover {
  color: #fff;
  background-color: #17b087;
  border-color: #17b087;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #17b087;
  border-color: #17b087;
  box-shadow: 0 0 0 0.2rem rgba(23, 176, 135, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #17b087;
  border-color: #17b087;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 176, 135, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #91c65c;
  border-color: #91c65c;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #91c65c;
  border-color: #91c65c;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #FF6666;
  border-color: #FF6666;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #FF6666;
  border-color: #FF6666;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-outline-primary {
  color: #15D6A2;
  border-color: #15D6A2;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(54, 206, 168, 0.25);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #15D6A2;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success {
  color: #91c65c;
  border-color: #91c65c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #91c65c;
  border-color: #91c65c;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #91c65c;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #91c65c;
  border-color: #91c65c;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-danger {
  color: #FF6666;
  border-color: #FF6666;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #FF6666;
  border-color: #FF6666;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #FF6666;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #FF6666;
  border-color: #FF6666;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent
}

.btn-outline-light:hover {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.btn-link {
  font-weight: 400;
  color: #15D6A2;
  text-decoration: none;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-item {
  color: #15D6A2 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff !important;
  text-decoration: none;
  background-color: #15D6A2;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #15D6A2;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #15D6A2;
  background-color: #15D6A2;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
  border-color: #15D6A2;
  background-color: #15D6A2;
}


.custom-range::-webkit-slider-thumb {
  background-color: #15D6A2;
}


.custom-range::-moz-range-thumb {
  background-color: #15D6A2;
}

.custom-range::-ms-thumb {
  background-color: #15D6A2;
}

.card-img-top {
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-img-container {
  height: 200px;
  width: 15rem;
}

.card-img {
  border-radius: 1.8rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-search {
  border-radius: 1.8rem;
  border-style: solid;
  border-width: 2px;
  border-color: #15D6A2;
}

.left-border {
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-style: solid;
  border-color: #15D6A2;
}

.input-custom {
  border-width: 0px;
  font-size: large;
}

.navbar a {
  color: #FFFFFF;
}

.navbar-brand {
  color: #FFFFFF;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #15D6A2;
}

.max-width-50 {
  max-width: 50rem;
}

.max-width-45 {
  max-width: 45rem;
}

.max-width-40 {
  max-width: 40rem;
}

.max-width-18 {
  max-width: 18rem;
}

.max-width-22 {
  max-width: 22rem;
}

.max-width-15 {
  max-width: 15rem;
}

.max-width-1 {
  max-width: 1rem;
}

.item-center {
  align-items: center;
  justify-content: center;
}

textarea.form-control {
  border-radius: 0.8rem !important;
}

.landing-card:hover {
  transform: scale(1.15);
}

.card-custom {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  box-shadow: #818182;
  border-radius: 1.5rem;
}

.card-custom2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  box-shadow: #818182;
  border-radius: 1.5rem;
}

.card-custom3 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: #818182;
  border-radius: 1.5rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #15D6A2;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}

.badge-primary {
  color: #fff;
  background-color: #15D6A2;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #fff;
  background-color: #15D6A2;
}

.badge-danger {
  color: #fff;
  background-color: #FF6666;
}

a.badge-danger:hover,
a.badge-danger:focus {
  color: #fff;
  background-color: #bd2130;
}



.progress-bar {
  background-color: #15D6A2;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #15D6A2;
  border-color: #15D6A2;
}


.bg-primary {
  background-color: #15D6A2 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #17b087 !important;
}

.bg-danger {
  background-color: #FF6666 !important;
}

.border-primary {
  border-color: #15D6A2 !important;
}

.border-danger {
  border-color: #FF6666 !important;
}

.text-primary {
  color: #15D6A2 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #17b087 !important;
}

.text-danger {
  color: #FF6666 !important;
}

.text-secondary {
  color: #D3D3D3 !important;
}

/* .jumbotron {
 
  box-shadow: 0 4px 6px -6px grey;
  background-image: url("");
  background-size: cover;
} */

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  height: 450px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 40rem;
}

.avatar-big {
  height: 120px;
  width: 120px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.video-container {
  position: relative;
}

.text-field-transparent {
  background-color: transparent;
}

.black-background {
  background-color: rgba(3, 3, 3, 0.2)
}

.scroll-div {
  width: 800px;
  height: 500px;
  overflow-x: scroll;
}

#map {
  position: fixed;
  height: 500px;
  width: 70%;
}

.display-none {
  display: none;
}