<div class="container text-center">
  <div class="card card-custom2 shadow max-width-45 m-auto">
      <%= form_with model: @appointment, url: talent_appointments_path, local: true do |form| %>
        <h4 class="m-4">Faire une demande de rendez-vous:</h4>
        <div class="field">
          <%= form.label :start_time%><br>
          <%= form.datetime_select :start_time, { ampm: true, order: [:day, :month, :year] }, { class: "custom-select mb-1" } %><br>
        </div>

    <div class="actions text-center p-3">
      <%= form.submit "Envoyer la demande", class: "btn btn-primary" %>
    </div><br>
      <% end %>
  </div>
</div>
