<div class="container d-flex align-items-center">
  <%= link_to "", 'javascript:history.back()', class:"fas fa-angle-left fa-2x text-secondary mt-3" %>
  <%= link_to "retour", 'javascript:history.back()', class:"text-secondary pt-3 pl-2 " %>  
</div>