<div class="container">
  <p>Résultat de la recherche: </p>
  <div class="row">
    <div class="col scroll-div">
        <br>
        <% if @filtred_talents && @filtred_talents.count > 0 %>
            <% @filtred_talents.each do |talent|%>
                <%= render partial: 'layouts/card-talent', locals: {model: talent, type: "search-result"} %>
            <% end %>
        <% else %>
            <% if params[:search_keywords].length == 0 %>
                Saisis au moins 4 caractère dans la recherche.
            <% else %>
                Aucun résultat pour "<%= params[:search_keywords] %>"
                <% if params[:search_keywords].length < 4 %>
                    (4 caractères minimum)
                <% end %>
                .
            <% end %>
        <% end %>
    </div>
    <div class="col" id="map">
        <!-- GOOGLE MAP API -->
        <%= render 'layouts/custom-map' %>
        <script defer
            src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap">
        </script>
    </div>
  </div>
</div>
