
<div class="text-center">
  <p class="lead">Trouve une nouvelle passion :</p>
  <div class="row item-center">
    <% @talents.sample(4).each do |talent|%>
      <%= render partial: 'layouts/landing-card', locals: {model: talent} %>
    <% end %>
  </div>
</div>