<div class="container">
  <div class="row">
    <div class="col">
        <%= render partial: 'layouts/searchform-half', locals: {keyword: params[:search_keywords]} %>
        <br>
        <% @found_talents.each do |talent|%>
            <%= render partial: 'layouts/card-talent', locals: {model: talent, type: "search-result"} %>
        <% end %>
    </div>
    <div class="col">
      IMPLEMENTATION GOOGLE MAPS 
    </div>
  </div>
