 <div class="card card-custom2 shadow mb-5 max-width-45">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class=" img card-img p-4" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title ml-3 text-secondary">Card title</h5>
            <p class="ml-2 text-secondary">avec <a href="#">Mathilde</a></p>
          </div>
          <p class="card-text text-secondary">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="col-md-3 m-auto pr-4 text-center">
        <p class="text-secondary">Évènement passée</p>
        <a href="#">Noter ce rendez-vous</a>
      </div>
    </div>
  </div>