  <div class="card card-custom2 shadow mb-5 max-width-45">
    <div class="row no-gutters">
      <div class="col-md-3">
        <%= image_tag model.picture, alt: 'picture', class: "img card-img p-4" %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title ml-3"><%= model.title%></h5>
            <p class="ml-2">avec <a href="#"><%= model.user.first_name %></a></p>
          </div>
          <p class="card-text"><%= model.description %></p>
        </div>
      </div>
      <div class="col-md-3 m-auto">
        <button class="btn btn-outline-primary">En savoir plus</button>
      </div>
    </div>
  </div>