
<div class="container">
  <h4 class="text-primary text-center">...ou partage la tienne en devenant mentor !</h4>

  <div class="text-center m-4">
    <p>Toi aussi, rejoins Talent Connect et aide des apprentis :</p>
    <%= button_to 'Propose une activité', new_talent_path(), method: :get, class: "btn btn-danger btn-lg" %>
  </div><br>
</div>