
<div class="container">
  <h4 class="text-primary text-center">...ou transmets la tienne en devenant mentor!</h4>

  <div class="text-center m-4">
    <p>Toi aussi, rejoints Talent Connect et enseigne à de supers apprentis</p>
    <%= button_to 'Je deviens mentor et propose une activité', new_talent_path(), method: :get, class: "btn btn-danger " %>
  </div><br>
</div>