  <div class="card card-custom shadow mb-5 text-center max-width-18">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/e7/2c/fe/inage-ocean-park.jpg" class="card-img-top" alt="..."><%-# @talent.picture-%>
    <div class="card-body">
      <h5 class="card-title">Card title</h5><%-# @talent.title -%>
      <a href="#">+ d'infos</a><%-# link_to page talent show -%>
    </div>
  </div>