<hr>
<div class="container">
  <h4 class="text-center m-4">Ce qu'ils en pensent :</h4>
  <div class="row">
    <div class="col-4">
      <div class="card card-custom3 py-4 px-5">
        <div class="text-center">
          <div class="avatar-big m-auto">
            <%= image_tag("talent_pottery.jpg", class: "avatar-img rounded-circle") %>
          </div>
            <h5 class="mt-3">Julien</h5> 
            <div class="lead pb-4">
              Apprentis chez Talent Connect
            </div>
            <div>
              <blockquote><em>
                J'ai toujours été maladroit mais grâce à Julia, j'ai pu réaliser de magnifiques poteries!<br><br>Grâce à Talent Connect, je me suis dépassée!
              </em></blockquote>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-custom3 py-4 px-5">
        <div class="text-center">
          <div class="avatar-big m-auto">
            <%= image_tag("talent_hike.jpg", class: "avatar-img rounded-circle") %>
          </div>
            <h5 class="mt-3">Mike</h5> 
            <div class="lead pb-4">
              Mentor chez Talent Connect
            </div>
            <div>
              <blockquote><em>
                J’ai pu enseigner la randonnée à de nombreux apprentis réellement passionnés, c'est agréable. Merci Talent Connect!
                <br><br>Talent Connect, c'est de superbes rencontres!
              </em></blockquote>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-custom3 py-4 px-5 max-width-28">
        <div class="text-center">
          <div class="avatar-big m-auto">
            <%= image_tag("talent_pottery1.jpg", class: "avatar-img rounded-circle") %>
          </div>
            <h5 class="mt-3">Julia</h5> 
            <div class="lead pb-4">
              Mentor chez Talent Connect
            </div>
            <div>
              <blockquote><em>
                Passionnée de poterie, grâce à Talent Connect, 
                j’ai pu enseigner mon activité à de nombreux apprentis.<br><br>C’est une expérience unique, 
                je suis plus que satisfaite!
              </em></blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
