<div class="card card-custom shadow mb-5" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <a href="#">Go somewhere</a>
  </div>
</div>