  <div class="card card-custom shadow text-center max-width-15 ml-3 mr-4 mb-4 ">
    <%= image_tag model.picture, alt: 'picture', class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= model.title%></h5>
      <a href="#">+ d'infos</a>
    </div>
  </div>