<% if model_name && model_name.errors.any? %>
  <div class="error_explanation alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
    <%= I18n.t("errors.messages.not_saved",
                count: model_name.errors.count,
                resource: model_name.class.model_name.human.downcase)
      %>
    
      <ul>
        <% model_name.errors.full_messages.each do |message| %>
          <li><small><%= message %></small></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>