<!-- DO NOT DISPLAY IF ROOT/HOME/SEARCHRESULT PAGES -->
<% unless current_page?(root_path) || current_page?(home_path) || current_page?(search_results_path) || current_page?(talents_path) %>
    <%= form_tag search_results_path, method: 'get' do %>
        <div class="form-group input-group">
            <div class="">
                <%= text_field_tag :search_keywords, nil, class: "form-control form-control-md", id: "search_keywords", placeholder: "Rechercher" %>
            </div>

            <div class="">
                <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                    <i class="fas fa-search"></i>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>
