  <div class="max-width-45">
    <div class="card card-custom2 shadow mb-2 pt-3 pl-4" >
      <p><a href=#>Pauline</a> veut participer à <a href=#>Débuter en musique</a> le 03/12/2020 à 16h00 </p>
    </div>
    <div class="float-right">
      <span class="badge badge-pill badge-primary ml-5">VALIDER</span>
      <span class="badge badge-pill badge-danger ml-2">REFUSER</span>
    </div>
  </div>